<!doctype html>
<html>
  <head>
    <title>Welcome to </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <h1>Here are the new shows page </h1>
    <ul>
        <li>title: <%= article.title %></li>
        <li>author: <%= article.author %> </li>
        <li>description: <%=article.description %> </li>
        <li>content: <%=article.content %> </li>
        <li>url: <%=article.url %> </li>
        <li>image: <%=article.imageUrl %> </li>
        <li>publishedAt: <%=article.published_at %> </li>
    </ul>
    </body>
</html>
