<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <%- include('header.ejs') %>
    <% if (message) { %>
      <div class="alert alert-success" role="alert">
        <%= message %>
      </div>
    <% } %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 class="text-center">News List </h1>
        <% newsList.forEach(function(article) { %>
          <div class="col-lg-4 col-md-6 mb-3">
            <a href="./<%= article.id %>" class="text-decoration-none text-reset">
              <div class="card mb-4 h-100">
                  <img src=<%= article.imageUrl %> class="card-img-top" alt="News Image">
                  <div class="card-body">
                    <h5 class="card-title"><%= article.title %></h5>
                    <p class="card-text"><%= article.description %></p>
                    <p class="card-text"><small class="text-muted">By <%= article.author %> - <%= new Date(article.published_at).toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' })%></small></p>
                  </div>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
   </div>
  </body>
  <%- include('footer.ejs') %>
</html>
